:root {
  --pink-primary: #ff69b4;
  --pink-secondary: #ffb6c1;
  --white: #ffffff;
  --black: #000000;
  --light-gray: #f2f2f2;
  --dark-gray: #808080;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

img {
    height: 80vh; /* 100% of the viewport height */
    object-fit: cover;
    margin: auto;
}

html {
  background-color: var(--pink-secondary);
}

body {
  background-color: var(--pink-secondary);
		color: var(--pink-secondary);
		font-size: 2em;
}

input {
		font-size: 1em;
}

button {
		font-size: 1em;
}

div {
  color: var(--black);
}

p {
  color: var(--black);
}

