body {
    background-color: beige;
}

.title {
    text-align: center;
    display: flex;
}

nav {
    display: flex;
}

nav a {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: red;
}
