:root {
	--col_fg: #eaeaea;
	--col_bg: #141818;
	--col_lred: #fd655e;
	--col_dred: #ba1b02;
	--col_lorange: #d8813a;
	--col_lblue: #4093cb;
	--col_lfg: #ead59d;
}

* {
	font-family: "Fira Mono";
	font-variant-ligatures: none;
}

body {
	color: var(--col_fg);
	background-color: var(--col_bg);
	font-size: 100%;
	line-height: 24px;
	margin: auto;
	padding-left: 24px;
	padding-right: 24px;
	max-width: 86ch;
}

article {
	padding-bottom: 10px;
}

.container {
	display: flex;
	justify-content: space-between;
}

.break {
	flex: 1;
}

.break::after {
	content: "";
	display: inline-block;
	position: relative;
	width: 80%;
	top: 50%;
	left: 10%;
	border-top: 3px solid black;
}

h1 {
	font-size: 150%;
	font-weight: bolder;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	display: inline-block;
} h2 {
	text-align: center;
	font-size: 130%;
	margin-bottom: 2em;
	margin-top: 2em;
} h3 {
	font-size: 110%;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

header {
  text-align: center;
  position: relative;
}

header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; /* Adjust the height as needed */
  background-color: black; /* Adjust the color as needed */
  position: absolute;
  bottom: 30;
  left: 0;
}


.stack {
	background-color: var(--col_dred);
	border-radius: 10px;
}

.date {
	padding-left: 10px;
}

/* navbar */
.navbar {
	width: 30%;
	margin-top: 16px;
	padding-top: 32px;
	margin: 0 auto;
	overflow: hidden;
}

/* links inside the navigation bar */
.navbar a {
	float: left;
	font-weight: bold;
	background-color: #202323;
	text-align: center;
	padding: 10px 16px;
	font-size: 102%;
	border: 1px solid var(--col_dred);
} .navbar a.active { /* active/current link */
	color: var(--col_lred);
} .navbar a:hover { /* links on hover */
	background-color: #131616;
}

hr {
	border-color: var(--col_fg);
	margin-top: 22px;
	margin-bottom: 22px;
}

p {
	text-align: justify;
}

/* codeblocks */
code, kbd {
	background-color: #202020;
	padding: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
} code {
	border: 1px solid #444444;
} kbd {
	font-size: 85%;
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid #484848;
} pre code {
	overflow: auto;
	padding: 12px;
	display: block;
} a > code {
	color: var(--col_lblue);
}

a {
	color: var(--col_lblue);
}

a:visited {
	color: red;
}



